* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.starter {
  display: flex;
  flex-direction: column;
  gap: 88px;
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 24px 136px;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  cursor: pointer;
}

.starter section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.arrow {
  width: 30px;
  height: 107px;
}

.title {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  text-align: center;
}

main {
}

.starterSection {
  display: grid;
  grid-template-columns: 100%;
}

.starterSection-photo {
  padding: 42%;
  background-repeat: no-repeat;
  background-size: cover;
}

.egg {
  background-image: url(./images/mobile/image-transform.jpg);
}

.starterSection-content {
  padding: 64px 24px;
  font-family: "Fraunces", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-title {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.229px;
  color: #24303e;
}

.content-para {
  margin-top: 24px;
  font-family: "Barlow", sans-serif;
  color: #808397;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
}

.learn {
  display: block;
  margin-top: 32px;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  color: #24303e;
  text-decoration: none;
  position: relative;
}

.learn::before {
  content: "";
  width: 137px;
  height: 10px;
  border-radius: 28px;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  transform: translateX(-16px);
  z-index: -1;
}

.yellow::before {
  background-color: #fad400;
}

.red::before {
  background-color: #fe7766;
}

.cup {
  background-image: url(./images/mobile/image-stand-out.jpg);
}
